/* Clean all styles from the image */
.reveal .clean-img {
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
}


/* List with no bullets*/
.reveal ul.no-bullet {
  list-style: none;
  margin: 0;
}

.reveal span.green {
  color: #17ff2e;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Montserrat', sans-serif;
}

.reveal p,
.reveal small {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/*Overwrite the links from the theme to keep the blue*/
/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

/* Custom classes */
.reveal .bold { font-weight: bold; !important }
